/* settings */
* {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Calibri;
    font-size: 18px;
    /*line-height: 24px;*/
    color: #323232;
}
img {
	max-width: 100%;
	height: auto;
}
p {

	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	color: #323232;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
textarea {
	border: none;
	outline: none;
	resize: none;
}
.c-btn {
	background: linear-gradient(13.94deg, #ED3E24 8.96%, #FF8D68 98.42%);
	box-shadow: 0px 6px 20px rgba(14, 18, 34, 0.16);
	border-radius: 6px;
}
.chef-wrapp__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.owl-carousel.owl-drag .owl-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.mob {
	display: none;
}
.btn {
    max-width: 290px;
    /*min-width: 290px;*/
    margin: 0 auto;
}
.title {
	font-family: Calibri;
	font-size: 40px;
	/*line-height: 46px;*/
	margin-bottom: 20px;
}
.title__inner {
	font-size: 36px;
	/*line-height: 52px;*/
	/*color: #000;*/
	/*margin: 0;	*/
}
.container {
    max-width: 100%;
    margin: 0 auto;
    width: 1170px;
    padding: 0 20px;
}
.section {
	padding: 56px 0 42px 0;
}
.section-program .title__inner {
	/*margin-bottom: 20px;*/
}
/* layout */
.one-section-wrapp {
	background: #F8EFE5;
}
.one-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	/*position: relative;*/
}
.one-box {
	width: 60%;
	padding: 20px;
}
.one-box-wrap {
	max-width: 600px;
	margin-left: auto;
}
.one-box .btn {
	margin: 0;
}
.mt-60 {
	margin-top: 60px;
}
.ptb-57 {
	padding: 100px 0 57px;
}
.fz-18 {
	font-size: 18px;
	line-height: 24px;
}
.text-center {
	text-align: center;
}
.one-box__pic {
	width: 40%;
	padding: 0;
}
.inner-box {
	position: relative;
	box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
	margin-right: -205px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}
.box-mob {
	display: none;
}
.inner-box__item {
	/*width: 25%;*/
	padding: 20px 15px;
	font-size: 14px;
}
.svg-wrap {
	display: block;
	width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.svg-ico {
	width: 32px;
    height: 32px;
}
.p-bold {
	font-weight: bold;
	color: #323232;
}



/*Video*/
.video-box {
	position: relative;
}
.play-ico {
	cursor: pointer;
	width: 154px;
	height: 154px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*program*/
.section-program {
	background: rgba(238, 215, 191, 0.4);
}
.program {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: nowrap;
}

.program__item {
	width: 100px;
	/*width: 19%;*/
	margin: 0 20px;
	font-size: 14px;
}
.p-bold {
	font-size: 16px;
}
.program__item_box {
	width: 100px;
	height: 100px;
	display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
	border: 8px solid #FFFFFF;
	box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
.program__item_box_rel {
	position: relative;
}
.program__item_box_rel::after {
    content: "";
    position: absolute;
    right: -135%;
    top: 75%;
    transform: translate(-50%, -50%);
    background: url('../../../img/icons/v.png') no-repeat;
    width: 50px;
    height: 50px;
}
.program__item_box_rotate::after {
	content: "";
    position: absolute;
    right: -135%;
    top: 30%;
    background: url('../../../img/icons/v.png') no-repeat;
    width: 50px;
    height: 50px;
	transform: translate(-50%, -50%) rotate(180deg) scale(-1, 1);
}
.link-box {
	position: relative;
	margin: 20px auto 0 auto;
}
.link-box p {
	padding-top: 10px;
	color: rgba(136, 116, 116, 0.6);
	margin-bottom: 20px;
	font-size: 14px;
}

.link-box::before {
	content: '';
	position: absolute;
	top: 0;
	width: 350px;
	height: 1px;
	background-color: #C4C4C4;
	left: 50%;
    transform: translateX(-50%);
}

.w50 {
	width: 50%;
	margin: 0 auto;
}
.program__item_box .svg-wrap {
	width: 32px;
    height: 32px;
}
.program__item_box .svg-ico {
	width: 32px;
    height: 32px;
}
.program__item_box .svg-wrap.cupcake {
	width: 58px;
    height: 58px;
}
.program__item_box .svg-ico.cupcake {
	width: 58px;
    height: 58px;
}

/*price*/
.price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.price__list {
	width: 65%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: wrap;
	text-align: left;
	font-size: 16px;
	line-height: 22px;
}
.price__item {
	width: 25%;
	padding: 10px;
	font-size: 16px;
}
.price__pic {
	margin-top: -60px;
}
.price__item .svg-wrap {
	margin-bottom: 10px;
}
.price__pic::before {
	content: "";
	top: 0;
	left: 0;
	background: url('../../../img/1.png') no-repeat;
	opacity: 0.2;
	transform: rotate(-5.02deg);
	width: 80.34px;
	height: 57.25px;
}
.price__pic::after {
	content: "";
	top: 0;
	right: 0;
	background: url('../../../img/2.png') no-repeat;
	filter: blur(2px);
	transform: rotate(29.97deg);
	width: 46.85px;
	height: 142.43px;
}

/*form-wrapp*/
.form-wrap {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 40px 0 40px 40px;
	background: #EED7BF;
	box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
}
.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    margin: 20px;
    border: 2px solid #ffffff;
    pointer-events: none;
    z-index: 2;
}
.form-wrap::after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: 40px;
    border: 2px solid #ffffff;
    pointer-events: none;
    z-index: 2;
}
.form-wrap__pic {
    width: 32%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.box-content {
	width: 100%;
	padding: 25px 0 25px 25px;
}
.form-wrap p.smal {
color: #909090;
font-size: 12px;
}
.smal {
color: #909090;
font-size: 12px;
margin-top: 10px;
}
.form-content {
    max-width: 665px;
    margin-right: auto;
	text-align: left;
}
.form-wrap p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}
.user-input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.i-w {
	display: inline-block;
	margin-right: 10px;
}
.i-w input {
	display: inline-block;
	outline: none;
	border: none;
	padding: 15px;
	border-radius: 6px;
}
.user-input .i-w {
	min-width: 234px;
	min-width: 234px;
	display: inline-block;
	margin-right: 10px;
}
.user-input .i-w input {
	display: inline-block;
	outline: none;
	border: none;
	padding: 15px;
	border-radius: 6px;
	width: 100%;
}
button.btn {
	min-width: 220px;
	max-width: 220px;
	margin: 0;
	display: inline-block;
}

/* gallery */
.gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.section-gallery  .mb20 {
	width: 40%;
	margin: auto;
	margin-bottom: 20px;
}
.gallery a {
	display: block;
	width: 33.3333%;
}
.gallery a img {
	height: 100%;
}
.section-gallery p {
	font-size: 18px;
	line-height: 24px;
}

.chef-wrapp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.chef-item {
	position: relative;
	cursor: pointer;
	width: 267px;
	height: 464px;
	overflow: hidden;
	margin: 0 17px;
}

.chef-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(180.47deg, rgba(233, 191, 146, 0) 35.9%, #E9BF92 92.01%);
	box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
}
.chef-content p {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	line-height: 24px;
}
.chef-content__i {
	position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
	background: linear-gradient(0deg, #E9BF92, #E9BF92);
    box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
    transition: all .5s;
}
.chef-content__i p {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
/*	width: 60%;
	margin-left: auto;
	margin-right: auto;*/
}
.chef-content__i .autor {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	line-height: 24px;
}
.chef-item:hover .chef-content__i {
	top: 0;
	padding-top: 60px;
}

/* reviews */

.reviews__item {
	/*margin: 20px 30px;*/
	margin: 20px;
	/*margin-right: 10px;*/
	text-align: left;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px rgba(31, 31, 31, 0.12);
}
.review-author {
	display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.author-avatar {
    display: none;
}
.head-review {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.head-review span {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #323232;
}
.review-content {
	text-align: left;
}
.review-content p {
	font-size: 14px;
	line-height: 20px;
}
.footer-review {
	text-align: right;
}
.footer-review p {
	font-size: 12px;
	line-height: 18px;
	color: #909090;
}
.footer-review a {
	text-decoration: underline;
	color: #909090;
}

.reviews .owl-nav {
    font-size: 50px;
}
.reviews .owl-nav .owl-prev {
	position: absolute;
	left: 0;
    border-radius: 50%;
    background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.reviews .owl-nav .owl-next {
	position: absolute;
	right: 0;
	border-radius: 50%;
	background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.reviews .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #323232;
    box-shadow: none;
}

.reviews .owl-nav {
    top: 37%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}




/* accordion */

.section-accordion {
	background: rgba(238, 215, 191, 0.4);
}
.section-accordion_img {
	position: relative;
	max-width: 1170px;
	width: 1170px;
	margin: auto;
}
.section-accordion_img::before {
	content: "";
	position: absolute;
	top: -60px;
	right: 25px;
	background: url('../../../img/121.png') no-repeat;
	width: 108px;
    height: 92px;
}


.section-accordion_img::after {
	content: "";
	position: absolute;
    top: 10px;
    left: 0;
    /*left: -70px;*/
    background: url('../../../img/kisspng.png') no-repeat;
    width: 170px;
    height: 113px;
}
.accordion-container {
	padding-bottom: 60px;
	max-width: 814px;
    margin: auto;
}
.accordion-container_img {
	position: relative;
	max-width: 1170px;
	width: 1170px;
	margin: auto;
}
.accordion-container_img::before {
	content: "";
	position: absolute;
    bottom: 105px;
    right: 0;
    background: url('../../../img/kitchen.png') no-repeat;
    width: 141px;
    height: 115px;
}
.accordion-content {
    display: none;
    text-align: left;
    font-size: 18px;
    color: #323232;
}

.accordion-content-active {
    display: block;
}

.set {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.set-item {
	padding: 23px 40px;
	border-bottom: 1px solid #DCAE7E;
}
.set-title {
	font-size: 26px;
	color: #323232;
}
.set > span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.set span > i {
	color: #323232;
}
.box-link {
	text-align: center;
}


/*owl chef*/

.chef-owl .owl-nav {
    font-size: 50px;
}
.chef-owl .owl-nav .owl-prev {
	position: absolute;
	left: 0;
    border-radius: 50%;
    background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.chef-owl .owl-nav .owl-next {
	position: absolute;
	right: 0;
	border-radius: 50%;
	background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.chef-owl .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #323232;
    box-shadow: none;
}

.chef-owl .owl-nav {
    top: 42%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.section-chef-owl {
    width: 40%;
    margin: auto;
    text-align: center;
}


.owl-chef-content {
	flex-direction: column;
	justify-content: flex-end;
    align-items: center;
	text-align: center;
    background: linear-gradient(180deg, rgba(238, 215, 191, 0.3) -7.44%, #E9BF92 90.5%);
	box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
}
.owl-chef-content .svg-wrap,
.owl-chef-content .svg-ico {
	width: 70px;
	height: 70px;
}
.owl-chef-content p {
	font-size: 26px;
	line-height: 32px;
}
.owl-chef-content__i {
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	color: #fff;
}
.owl-chef-content__i a {
	color: #fff;
}
.owl-chef-content__i span {
	display: block;
}


/* order */
.section-order {
	background: rgba(238, 215, 191, 0.4);
}
.section-order_img {
	position: relative;
}
.section-order_img::before {
	content: "";
	position: absolute;
    bottom: -20px;
    /*right: -15px;*/
    right: 0;
    background: url('../../../img/photo461858.png') no-repeat;
    width: 250px;
    height: 215px;	
}
.form-wrapp-box {
	width: 810px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.wrapp-box {
	width: 390px;
}
.i-w_data {
	position: relative;
}
.i-w_data i {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.order-i-w {
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	margin-bottom: 25px;
	margin-right: 0;
}
.order-i-w input, .order-i-w textarea {
	width: 100%;
	padding: 20px 15px;
    border-radius: 6px;
}
.order-i-w textarea {
	min-height: 135px;
	margin-bottom: 0;
}
.df {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.df .order-i-w {
	width: 48%;
}
textarea::-webkit-input-placeholder {
    color: #000;
}
 
textarea:-moz-placeholder {
    color: #000;
}
input::-webkit-input-placeholder {
    color: #000;
}
 
input:-moz-placeholder {
    color: #000;
}
.w320 {
	width: 320px;
	margin: auto;
}
.form-wrapp-box p {
	color: #909090;
	font-size: 12px;
	line-height: 24px;
}
.order-wrapp-form button.btn {
	min-width: 290px;
}
.order-wrapp-form {
	position: relative;
}
.order-wrapp-form::before {
	content: "";
	position: absolute;
	top: -115px;
    left: 135px;
    background: url('../../../img/16.png') no-repeat;
    width: 250px;
    height: 215px;
    z-index: -1;
}
.order-wrapp-form::after {
	content: "";
	position: absolute;
    top: -65px;
    right: 35px;;
    background: url('../../../img/15.png') no-repeat;
    width: 250px;
    height: 215px;
    z-index: -1;
}
/*Modal*/
.modal-page-corporate {
	/*border: 40px solid #fff;*/

}
.modal-wrapp-form {
	position: relative;
	z-index: 9;
}
.modal-wrapp-form .btn {
	min-width: 100%;
}
.modal-body {
	position: relative;
	max-width: 650px;
	margin: auto;
	min-height: 450px;
	padding: 47px 70px;
	/*border: 40px solid #fff;*/
	/*background: rgba(238, 215, 191, 0.4);*/
	/*background: rgb(238, 215, 191);*/
	background: #f8e1ca;
	/*background: #EED7BF;*/
	/*background: rgb(238, 215, 191);*/
}

.popup_bg_img {
	position: relative;
}
.popup_bg_img::before {
	content: "";
	position: absolute;
	top: 0;
    left: 0;
    background: url('../../../img/16.png') no-repeat;
    width: 250px;
    height: 215px;
    z-index: 1;
}
.popup_bg_img::after {
	content: "";
	position: absolute;
    bottom: -40px;
    right: -95px;
    background: url('../../../img/15.png') no-repeat;
    width: 250px;
    height: 215px;
    z-index: 1;
}
.modal-title {
	font-size: 36px;
	margin-bottom: 20px;
}
.modal-wrapp-form p {
	color: #909090;
	font-size: 12px;
	line-height: 24px;
}
.modal-page-corporate .popup-close {
	top: 5px;
	right: 5px;
}

.popup_corporate {
    background: rgba(255, 255, 255, 0.8);
}

.w-220 {
	min-width: 220px;
	max-width: 220px;
	margin: auto;
}
.order-wrapp-form button.btn {
	min-width: 320px;
	max-width: 320px;
	margin: auto;
	margin-bottom: 20px;
}





/*adaptive*/
@media only screen and (max-width: 1240px) and (min-width: 320px) {
.one-box-wrap {
    max-width: 600px;
    margin-left: 20px;
}

}

@media only screen and (max-width: 1170px) and (min-width: 320px) {
	.container {
	    width: auto;
	    padding: 0 20px;
	}
	.accordion-container_img {
	    width: auto;
	    padding: 0 20px;
	}
	.section-accordion_img {
	    width: auto;
	    padding: 0 20px;
	}
		.section-accordion {
		position: relative;
	}
	.section-accordion::before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background: url('../../../img/15.png');
		width: 191px;
		height: 166px;
	}
	.accordion-container_img::before {
		display: none;
	}
	.title {
	    font-family: Calibri;
	    font-size: 34px;
	    line-height: 36px;
	    margin-bottom: 20px;
	}
	.section-gallery .mb20 {
    	width: 90%;
    	margin: auto;
    	margin-bottom: 20px;
	}
	.program__item_box_rel::after {
		right: -123%;
	}

}
@media only screen and (max-width: 1028px) and (min-width: 320px) {
	.program__item_box_rel::after {
		display: none;
	}
	.program {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}
	.program__item {
		width: 20%;
		text-align: center;
	}
	.program__item_box {
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 960px) and (min-width: 320px) {
	.form-wrapp-box {
		width: 100%;
	}
	.gallery a {
	    display: block;
	    width: 50%;
	}
	.accordion-container {
		padding-bottom: 60px;
		max-width: 100%;
		width: 100%;
	    margin: auto;
	}
}



@media only screen and (max-width: 768px) and (min-width: 320px) {
	.one-section-wrapp {
		background: #fff;
	}
	.one-section {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 0 20px;
	}
	.one-box {
		width: 100%;
	}
	.one-box__pic {
		display: none;
	}
	.link-box::before {
		width: 100%;
	}
	.one-box-wrap {
    	max-width: 100%;
    	width: 100%;
    	margin-left: 0;
	}
	.inner-box {
		display: none;
	}
	.box-mob {
		display: block;
		margin-bottom: 20px;
	}

	.inner-box {
	    margin-right: 0;
	    flex-wrap: wrap;
	    margin-bottom: 20px;
	}
	.inner-box__item_mob {
		box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
	}
	.box-mob .inner-box__item {
		width: 48%;
    	display: inline-block;
    	vertical-align: top;
	}
	.one-box-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.chef-item {
		/*width: 100%;*/
		/*height: auto;*/
	}
	.desctop {
		order: 1;
	}
	.ptb-57 {
		padding: 0;
	}
	.fz-18_mob {
	    margin-left: auto;
	    margin-right: auto;
	    width: 45%;
	}
	.w50 {
	    width: 100%;
	    margin: 0 auto;
	}
	.program {
		position: relative;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.program__item_box {
		margin-left: 0;
		margin-right: 0;
	}
	.program__item {
		width: 34%;
		text-align: left;
		margin: 0;
	}
	.program__item_mob_bg {
		position: relative;
	}
	.program__item_mob_bg::before {
		content: "";
	    position: absolute;
	    top: 0;
	    right: -135px;
	    transform: translateX(-50%);
	    width: 90px;
	    height: 145px;
		background: url(../../../img/icons/vbgmob.svg);
		background-repeat: no-repeat;
	}
	.program__item_box_rel::after {
		display: none;
	}
	.program__item_box {
		/*margin: auto;*/
		margin-bottom: 20px;
	}
	.price {
	    flex-wrap: wrap;
	    margin-bottom: 30px;
	}

	.price__list {
		width: 100%;
		flex-wrap: wrap;
	}

	.price__item {
	    width: 100%;
	    padding: 10px 0;
	}
	.price__item .svg-wrap {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	.price__item p {
		display: inline-block;
		vertical-align: middle;
		width: 60%;
	}
	.form-wrap {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 10px;
	}
	.form-wrap__pic {
		display: none;
	}
	.box-content {
		width: 100%;
		padding: 20px;
	}
	.form-content {
		max-width: 100%;
		width: 100%;
		margin-right: 0;
	}
	.user-input {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.i-w {
	    margin-right: 0;
	    width: 100%;
	}
	input, textarea {
		width: 100%;
		margin-bottom: 20px;
	}
	.section-gallery > .text-center {
    	width: 100%;
    	margin: auto;
	}
	.accordion-container_img::before {
		display: none;
	}
	.section-accordion_img::before {
		display: none;
	}
	.section-chef-owl {
		width: 85%;
	}
	.section-order_img::before,
	.order-wrapp-form::before,
	.order-wrapp-form::after {
		display: none;
	}
	.form-wrapp-box {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.wrapp-box {
		width: 100%;
	}
	.order-i-w input, .order-i-w textarea {
		margin-bottom: 0;
	}
	.gallery a {
	    display: block;
	    width: 100%;
	}
	.price__pic {
    	text-align: center;
    	display: block;
    	width: 100%;
	}
	.title {
		font-size: 26px;
		line-height: 30px;
	}
	.section .fz-18_mob {
		width: 80%;
		margin-lift: auto;
		margin-right: auto;
	}
	.title__inner {
		/*color: #000;*/
		font-size: 24px;
		line-height: 30px;
	}
	.mt30 {
		margin-top: 30px;
	}
	.section {
		padding: 30px 0;
	}
	.set-item {
		padding: 20px 0;
		text-align: left;
	}
	.set-title {
		font-size: 18px;
		text-transform: none;
	}
	.form-wrap::before {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: calc(100% - 24px);
	    height: calc(100% - 24px);
	    margin: 10px;
	    border: 2px solid #ffffff;
	    pointer-events: none;
	    z-index: 2;
	}
	.form-wrap::after {
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: calc(100% - 44px);
	    height: calc(100% - 44px);
	    margin: 20px;
	    border: 2px solid #ffffff;
	    pointer-events: none;
	    z-index: 2;
	}
	.i-w_data i {
	    position: absolute;
	    right: 10px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	.order-wrapp-form button.btn {
    	min-width: 100%;
    	max-width: 100%;
    	margin: auto;
    	margin-bottom: 20px;
	}
	button.btn {
	    min-width: 100%;
	    max-width: 100%;
	    margin: 0;
	    display: inline-block;
	}
	.user-input .i-w {
		margin-right: 0;
	}
	.section-accordion .box-link.w-220 {
		display: none;
	}
	.section-gallery .mb20 {
    	width: 100%;
    	margin: auto;
    	margin-bottom: 20px;
	}
	/*Modal*/
	.modal-body {
		max-width: 100%;
		width: 100%;
		padding: 30px;
		border: none;
	}
	.modal-title {
		font-size: 24px;
		line-height: 30px;
	}
}
.section-reviews .title, .section-gallery .title {
	margin-bottom: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mb20 {
	margin-bottom: 20px;
}
.wrapp_ico-plus {
	width: 17px;
	height: 17px;
	margin-bottom: 0;
}
.ico-plus {
	color: #1E201D;
	width: 17px;
	height: 17px;
}
