/* settings */
* {
  box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Calibri;
    font-size: 14px;
    color: #323232;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
.btn {
    max-width: 290px;
    margin: 0 auto;
}
.title {
	font-family: Calibri;
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 20px;
}
.title__inner {
	font-size: 36px;
	line-height: 42px;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    width: 1170px;
    padding: 0 20px;
}
.section {
	padding: 60px 0;
}
/* layout */
.one-section-wrapp {
	background: #F8EFE5;
}
.one-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	/*position: relative;*/
}
.one-box {
	width: 50%;
	padding: 20px;
}
.one-box-wrap {
	max-width: 600px;
	margin-left: auto;
}
.one-box .btn {
	margin: 0;
}
.mt-73 {
	margin-top: 73px;
}
.ptb-57 {
	padding: 57px 0 57px;
}
.fz-18 {
	font-size: 18px;
	line-height: 24px;
}
.text-center {
	text-align: center;
}
.one-box__pic {
	/*position: relative;*/
	width: 50%;
	/*background: url('../../../img/banner.jpg') no-repeat;*/
/*	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;*/
	/*height: 651px;*/
	padding: 0;
}
/*.one-box__pic img {
	height: 100%;
}*/
.inner-box {
	position: relative;
	/*z-index: 2;*/
	margin-right: -205px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}
.inner-box__item {
	width: 25%;
	padding: 20px;
}
.svg-wrap {
	display: block;
	width: 32px;
    height: 32px;
}
.svg-ico {
	width: 32px;
    height: 32px;
}
.p-bold {
	font-weight: bold;
}



/*Video*/
.video-box {
	position: relative;
}
.play-ico {
	cursor: pointer;
	width: 154px;
	height: 154px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*program*/
.section-program {
	background: rgba(238, 215, 191, 0.4);
}
.program {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: nowrap;
}

.program__item {
	width: 100px;
}

.program__item_box {
	width: 100px;
	height: 100px;
	display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
	border: 8px solid #FFFFFF;
	box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
}
.program__item_box_rel {
	position: relative;
}
.program__item_box_rel::after {
    content: "";
    position: absolute;
    right: -135%;
    top: 75%;
    transform: translate(-50%, -50%);
    background: url('../../../img/icons/v.png') no-repeat;
    width: 50px;
    height: 50px;
}
.program__item_box_rotate::after {
	content: "";
    position: absolute;
    right: -135%;
    top: 30%;
    background: url('../../../img/icons/v.png') no-repeat;
    width: 50px;
    height: 50px;
	transform: translate(-50%, -50%) rotate(180deg) scale(-1, 1);
}
.link-box {
	position: relative;
	margin: 20px auto;
}
.link-box p {
	padding-top: 10px;
	color: rgba(136, 116, 116, 0.6);
	margin-bottom: 20px;
}

.link-box::before {
	content: '';
	position: absolute;
	top: 0;
	width: 350px;
	height: 1px;
	background-color: #C4C4C4;
	left: 50%;
    transform: translateX(-50%);
}

.w50 {
	width: 50%;
	margin: 0 auto;
}
.program__item_box .svg-wrap {
	width: 32px;
    height: 32px;
}
.program__item_box .svg-ico {
	width: 32px;
    height: 32px;
}
.program__item_box .svg-wrap.cupcake {
	width: 58px;
    height: 58px;
}
.program__item_box .svg-ico.cupcake {
	width: 58px;
    height: 58px;
}

/*price*/
.price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.price__list {
	width: 75%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: wrap;
	text-align: left;
	font-size: 16px;
	line-height: 22px;
}
.price__item {
	width: 25%;
	padding: 10px;
}
.price__pic {
	position: relative;
	border: 8px solid #EED7BF;
	width: 321px;
	height: 296px;
}
.price__pic::before {
	content: "";
	top: 0;
	left: 0;
	background: url('../../../img/1.png') no-repeat;
	opacity: 0.2;
	transform: rotate(-5.02deg);
	width: 80.34px;
	height: 57.25px;
}
.price__pic::after {
	content: "";
	top: 0;
	right: 0;
	background: url('../../../img/2.png') no-repeat;
	filter: blur(2px);
	transform: rotate(29.97deg);
	width: 46.85px;
	height: 142.43px;
}

/*form-wrapp*/
.form-wrap {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 40px 0 40px 40px;
	background: #EED7BF;
	box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
}
.form-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    margin: 20px;
    border: 2px solid #ffffff;
    pointer-events: none;
    z-index: 2;
}
.form-wrap::after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: 40px;
    border: 2px solid #ffffff;
    pointer-events: none;
    z-index: 2;
}
.form-wrap__pic {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.box-content {
	width: 75%;
	padding: 40px 0 40px 40px;
}
.form-content {
    max-width: 640px;
    margin-right: auto;
	text-align: left;
}
.form-wrap p {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}
.user-input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.i-w {
	display: inline-block;
	margin-right: 10px;
}
.i-w input {
	display: inline-block;
	outline: none;
	border: none;
	padding: 15px;
	border-radius: 6px;
}
button.btn {
	min-width: 220px;
	max-width: 220px;
	margin: 0;
	display: inline-block;
}

/* gallery */
.gallery {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.section-gallery > .text-center {
	width: 40%;
	margin: auto;
}
.gallery a {
	display: block;
	width: 33.3333%;
}
.gallery a img {
	height: 100%;
}
.section-gallery p {
	font-size: 18px;
	line-height: 24px;
}

.chef-wrapp {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.chef-item {
	position: relative;
	cursor: pointer;
	width: 267px;
	height: 464px;
	overflow: hidden;
	margin: 0 17px;
}
.chef-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(180.47deg, rgba(233, 191, 146, 0) 35.9%, #E9BF92 92.01%);
	box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
}
.chef-content p {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	line-height: 24px;
}
.chef-content__i {
	position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
	background: linear-gradient(0deg, #E9BF92, #E9BF92);
    box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
    transition: all .5s;
}
.chef-content__i p {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}
.chef-content__i .autor {
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	line-height: 24px;
}
.chef-item:hover .chef-content__i {
	top: 0;
}

/* reviews */

.reviews__item {
	/*width: 33%;*/
	margin: 20px 30px;
	text-align: left;
	padding: 40px;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px rgba(31, 31, 31, 0.12);
}
.review-author {
	display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.author-avatar {
    display: none;
}
.head-review {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head-review span {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #000000;
}
.review-content {
	text-align: left;
}
.review-content p {
	font-size: 14px;
	line-height: 20px;
}
.footer-review {
	text-align: right;
}
.footer-review p {
	font-size: 12px;
	line-height: 18px;
	color: #909090;
}
.footer-review a {
	text-decoration: underline;
	color: #909090;
}

.reviews .owl-nav {
    font-size: 50px;
}
.reviews .owl-nav .owl-prev {
	position: absolute;
	left: -50px;
    border-radius: 50%;
    background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.reviews .owl-nav .owl-next {
	position: absolute;
	right: -50px;
	border-radius: 50%;
	background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.reviews .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #323232;
    box-shadow: none;
}

.reviews .owl-nav {
    top: 37%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}




/* accordion */

.section-accordion {
	background: rgba(238, 215, 191, 0.4);
}
.accordion-container {
	padding-bottom: 60px;
}
.accordion-content {
    display: none;
    text-align: left;
    font-size: 18px;
    color: #323232;
}

.accordion-content-active {
    display: block;
}

.set {
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.set-item {
	padding: 30px 50px;
	border-bottom: 1px solid #DCAE7E;
}
.set-title {
	font-size: 26px;
	color: #323232;
}
.set > span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.set span > i {
	color: #323232;
}
.box-link {
	text-align: center;
}


/*owl chef*/

.chef-owl .owl-nav {
    font-size: 50px;
}
.chef-owl .owl-nav .owl-prev {
	position: absolute;
	left: -20px;
    border-radius: 50%;
    background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.chef-owl .owl-nav .owl-next {
	position: absolute;
	right: -37px;
	border-radius: 50%;
	background-color: #fff !important;
	box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.2);
	width: 65px !important;
	height: 65px !important;
	font-size: 50px;
	opacity: 1;
	transition: all .3s;
}
.chef-owl .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #323232;
    box-shadow: none;
}

.chef-owl .owl-nav {
    top: 42%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.section-chef-owl {
    width: 40%;
    margin: auto;
    text-align: center;
}


.owl-chef-content {
	flex-direction: column;
	justify-content: flex-end;
    align-items: center;
	text-align: center;
    background: linear-gradient(180deg, rgba(238, 215, 191, 0.3) -7.44%, #E9BF92 90.5%);
	box-shadow: 0px 6px 12px rgba(31, 31, 31, 0.05);
}
.owl-chef-content .svg-wrap,
.owl-chef-content .svg-ico {
	width: 70px;
	height: 70px;
}
.owl-chef-content p {
	font-size: 26px;
	line-height: 32px;
}
.owl-chef-content__i {
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	color: #fff;
}
.owl-chef-content__i a {
	color: #fff;
}
.owl-chef-content__i span {
	display: block;
}


/* order */
.section-order {
	background: rgba(238, 215, 191, 0.4);
}







/*adaptive*/
@media only screen and (max-width: 1170px) and (min-width: 320px) {
	.container {
	    width: auto;
	}
}
