/*Fonts*/
/* @font-face{
	font-family:'FontAwesome';
	src:url("bitrix/fonts/Raleway/fontawesome-webfont.eot");
	src:url("bitrix/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("bitrix/fonts/fontawesome-webfont.woff") format("woff"), url("bitrix/fonts/fontawesome-webfont.woff2") format("woff2"), url("bitrix/fonts/fontawesome-webfont.ttf") format("truetype"), url("bitrix/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
	font-weight:normal;
	font-style:normal;
} */
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-Thin.eot');
	src:url('fonts/Raleway/Raleway-Thin.woff') format('woff'), url('fonts/Raleway/Raleway-Thin.ttf') format('truetype'), url('fonts/Raleway/Raleway-Thin.svg') format('svg'), url('fonts/Raleway/Raleway-Thin.otf') format('otf');
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-Medium.eot');
	src:url('fonts/Raleway/Raleway-Medium.woff') format('woff'), url('fonts/Raleway/Raleway-Medium.ttf') format('truetype'), url('fonts/Raleway/Raleway-Medium.svg') format('svg'), url('fonts/Raleway/Raleway-Medium.otf') format('otf');
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-Regular.eot');
	src:url('fonts/Raleway/Raleway-Regular.woff') format('woff'), url('fonts/Raleway/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway/Raleway-Regular.svg') format('svg'), url('fonts/Raleway/Raleway-Regular.otf') format('otf');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-Bold.eot');
	src:url('fonts/Raleway/Raleway-Bold.woff') format('woff'), url('fonts/Raleway/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway/Raleway-Bold.svg') format('svg'), url('fonts/Raleway/Raleway-Bold.otf') format('otf');
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-SemiBold.eot');
	src:url('fonts/Raleway/Raleway-SemiBold.woff') format('woff'), url('fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'), url('fonts/Raleway/Raleway-SemiBold.svg') format('svg'), url('fonts/Raleway/Raleway-SemiBold.otf') format('otf');
	font-weight:600;
	font-style:normal;
}
@font-face{
	font-family:'Raleway';
	src:url('fonts/Raleway/Raleway-Black.eot');
	src:url('fonts/Raleway/Raleway-Black.woff') format('woff'), url('fonts/Raleway/Raleway-Black.ttf') format('truetype'), url('fonts/Raleway/Raleway-Black.svg') format('svg'), url('fonts/Raleway/Raleway-Black.otf') format('otf');
	font-weight:900;
	font-style:normal;
}
.standart-typhography{
	font-family:'Raleway', sans-serif;
	font-size:16px;
	width:100%;
}
.text-holder{
	padding:15px 10px;
	text-align:left;
}
.text-holder h2,
.text-holder .h2,
.text-holder h3,
.text-holder .h3,
.text-holder h4,
.text-holder .h4{
	margin:0;
	padding:5px;
}
.text-holder p{
	padding: 3px;
}
.text-holder ul{
	padding:15px 0;
}
.text-holder ul li{
	padding-bottom:5px;
}
.text-holder .t1{
	margin:10px auto 0;
}
.standart-typhography h2,
.standart-typhography .h2,
.standart-typhography h3,
.standart-typhography .h3,
.standart-typhography h4,
.standart-typhography .h4{
	line-height:1;
}
.standart-typhography h2,
.standart-typhography h3,
.standart-typhography h4{
	font-weight:600;
}
.standart-typhography article{
	font-size: 14px;
	text-align:justify;
}
.text-holder article{
	padding-top:10px;
}
.standart-typhography .title{
	font-size:16px;
	font-weight:bold;
}
.standart-typhography .h2,
.standart-typhography h2{
	font-size:30px;
	text-transform:uppercase;
}
.standart-typhography .h3,
.standart-typhography h3{
	font-size:26px;
	margin-bottom: 15px;
}
.standart-typhography .h4,
.standart-typhography h4{
	font-size:22px;
}
.standart-typhography p{
	font-size: 18px;
	line-height:1.2;
}
.standart-typhography ul{
}
.standart-typhography ul li{
	font-size:16px;
}
.standart-typhography .t1{
	width:59px;
	height:3px;
	border:none;
	background-color:#ff0033;
}
.standart-typhography ul{
	list-style-type:none; padding-bottom:10px;
}
.standart-typhography ul li{
	position:relative;
	margin-left:5px;
	margin-bottom:2px;
}
.standart-typhography ul li::before{
	content: '\f14a';
	font-family: FontAwesome;
	color: #ff1425;
	width: 20px;
	height: 20px;
	font-size: 24px;
	border-radius: 50%;
	overflow: hidden;
	line-height: 0.9;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
@media (min-width:480px){
	.standart-typhography .h4,
	.standart-typhography h4{
		font-size:19px;
	}
	.text-holder h3,
	.text-holder .h3{
	}
	.text-holder{
		padding: 10px;
	}
}
@media (max-width:639px){
	.text-holder h2,
	.text-holder .h2,
	.text-holder h3,
	.text-holder .h3,
	.text-holder h4,
	.text-holder .h4{
		text-align:center;
	}
}
@media (max-width:919px){
	.text-center-920 .text-holder h2,
	.text-center-920 .text-holder .h2,
	.text-center-920 .text-holder h3,
	.text-center-920 .text-holder .h3,
	.text-center-920 .text-holder h4,
	.text-center-920 .text-holder .h4{
		text-align:center;
	}
	.text-center-920 .text-holder .t1{
		margin-left:auto;
		margin-bottom:10px;
	}
}
@media (min-width:640px) and (max-width:919px){
	.text-center-920 .text-holder{
		margin-left:auto;
		margin-right:auto;
	}
}
@media (min-width:680px){
	.text-center .text-holder{
		margin-left:auto;
		margin-right:auto;
	}
	.text-center .text-holder h2,
	.text-center .text-holder .h2,
	.text-center .text-holder h3,
	.text-center .text-holder .h3,
	.text-center .text-holder h4,
	.text-center .text-holder .h4{
		text-align:center;
	}
	.text-center .text-holder .t1{
		margin-left:auto;
		margin-bottom:10px;
	}
	.standart-typhography ul li{
		font-size:16px;
	}
	.standart-typhography h3{
		font-size:17px;
	}
	.standart-typhography p{
		font-size:16px;
	}
	.text-holder{
		/* text-align:left; */
	}
	.text-holder .t1{
		margin-left:0;
	}
}
@media (min-width:920px){
	.standart-typhography h3,
	.standart-typhography .h3{
		font-size:20px;
	}
	.text-holder h3,
	.text-holder .h3{
		padding-top:10px;
		margin:0;
	}
}
@media (max-width: 959px) {
	.service.standart-typhography article.type2 {
		padding: 0 5px 5px;
	}
	.service.standart-typhography article.type2 + .img-big {
		display: none;
	}
}
@media (max-width: 639px) {
	.service.standart-typhography article.type2 {
		padding: 0 0 10px 10px;
	}
}